mixin scripts(scripts)
	script(src='js/all.js')

	//- JQUERY
	script(src="https://code.jquery.com/jquery-2.1.1.min.js")
	script(src="js/jquery/bootstrap.js")

	//-ANGULAR
	script(src='vendor/angular/angular.min.js')
	script(src='js/controllers/mainController.js')
	script(src='js/directives/login/ctrl.js')
	script(src='js/directives/hello/hello.js')
	script(src='js/directives/login/main.js')
	script(src='js/parent.js')

	//- MATERIALIZE
	script(src='vendor/materialize/js/materialize.min.js')
