.item-final
	border-right 1px solid #757575
.container-derechos
	width:100% !important
	padding-left 132px !important
.col-xs-12
	padding-left 0 !important
.footer-copyright 
	margin-top:2%
.panel-left
	display block !important
	margin-left 2% !important
.container
	color #757575
	padding 1% 0
	margin-top: 0.5% !important
	

.general
	.footer
		background #f9f9f9
		
		.col-one
			padding-top 20px
			
			p
				padding 5px 0
				color #757575
				
				a
					color #757575
					
			.redes
				text-align left
				
				> div
					margin-right -15px