.general
	.footer
		background #f9f9f9
		
		.col-one
			padding-top 20px
			
			p
				padding 5px 0
				
				a
					color #424242
					

			.redes
				text-align right
				
				> div
					margin-right -15px