.item-final
	border-right 1px solid #757575
.contenedor-derechos
	margin-top: 0.5%
	width:100%
	padding-left 132px 
.parrafo
	padding-left 0 
.footer-copyright 
	margin-top:2%
.panel-left
	cursor pointer
	display block
	margin-bottom 2%
.container
	color #757575
	padding 1% 0
	
	

.general
	.footer
		background #f9f9f9
		
		.col-one
			padding-top 20px
			
			p
				padding 5px 0
				color #757575
				
				a
					color #757575
					
			.redes
				text-align left
				
				> div
					margin-right -15px