mixin footer()
	.footer(class='row')
		.col-one(class='col-xs-10 col-xs-offset-1')

			div(class='col-xs-2')
				p
					a(href='') Cursos

				p
					a(href='') Inscribete

				p
					a(href='') Multiusuarios

				p
					a(href='') Formadores


			div(class='col-xs-2')

				p
					a(href='') FAQ

				p
					a(href='') Contacto

				p
					a(href='') Soporte

				p
					a(href='') Apps


			div(class='col-xs-2')
				p
					a(href='') Responsable

				p
					a(href='') CGV

				p
					a(href='') Politica de Privacidad

				p
					a(href='') Internacional



			.redes(class='col-xs-6')
				div(class='col-xs-12')
					p Senior Code una empresa de:

				div(class='col-xs-12')
					img(src='/img/descarga.jpg')
					p Aqui va otro mixin de redes-sociales

				